@{
    ViewBag.Title = "Index";
    ViewBag.Button = "Join Now";
    ViewBag.active = 2;
    
    ViewBag.LstSinhVien = new List<string> { "Dương Mộng Khánh", "Khanh Maxio" };
    Layout = "~/Views/Shared/LayoutUser.cshtml";
}

<h2>Index</h2>